@import "tailwindcss";
@import "tailwindcss/utilities";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, winter;
}

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

.bh-gov-container {
  @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
}

body {
  color: rgb(var(--foreground-rgb));
  padding: 1rem;
}

@layer base {
  h1 {
    @apply 
      text-4xl 
      font-bold
      my-5;
  }
}